.postListContainer {
    padding-left: 255px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
}

.postContainer {
    /*display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;*/
    padding: 1rem;
    margin-top: 1rem;
}

a{
    text-decoration: none;
}